* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Slack-Lato, appleLogo, sans-serif;
}

html, body {
  width: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.button {  
  box-sizing: border-box;
  margin: 0;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: rgb(195, 195, 195);
  text-rendering: auto;
  color: rgb(170, 170, 170);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  background-color: rgb(74, 74, 74);
  border-image: initial;
  cursor: pointer;
  outline: none;
  opacity: .8;
}

.button:hover {
  opacity: 1;
}

.unstyled-button {
  background: none;
  border: 0;
  color: inherit;  
  margin: 0;  
  padding: 0;  
}

.container {  
  display: grid;
  height: 100vh;
  overflow: hidden;
}

.top_nav { 
  grid-area: top-nav;
  font-size: 1rem;
  min-width: 0;
  color: #ffffff;
  background-color: #371238;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  display: flex;  
  align-items: center;  
  justify-content: center;
}

.top_nav_left {  
  display: flex;  
  align-items: center;
  padding-left: 1em;
  padding-right: 2em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 8em;
  justify-content: flex-end;
}

.top-nav__bars_button {
  display: flex;  
  flex-shrink: 0;  
  align-items: center;  
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: .2em;
  opacity: .8;
  color: #CFC6D0;
}

.top_nav_history {
  display: flex;
  align-items: center;
  justify-content: right;

}

.top_nav_history_button {  
  display: flex;  
  flex-shrink: 0;  
  align-items: center;  
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: .2em;
  opacity: .8;
  color: #CFC6D0;
}

.top_nav_search {
  min-width: 0;
  max-width: 32em;
  padding: 0 .5em;
  border-radius: .9em;
  color: #ffffff;
  opacity: .8;
  background: rgb(85, 37, 87);
  box-shadow: inset 0 0 0 1px rgb(94, 39, 84);
  cursor: pointer;  
  display: flex;  
  flex-direction: row-reverse;  
  align-items: center;  
  justify-content: space-between; 
  flex: 5;
  height: 1.5em;
  
}

.top_nav_search_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: inherit;
  opacity: .9;
  margin-right: auto;
  font-size: .8em;
  line-height: 1.4;
  font-weight: 400;
  display: block;  
}
.top_nav_right {  
  flex: 1;
  min-width: 8em;
  display: flex;  
  align-items: center;  
  justify-content: flex-end;
  padding-right: 1em;
  padding-left: 2em;
}

.top_nav_help_button {  
  display: flex;  
  flex-shrink: 0;  
  align-items: center;  
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid #e3dce4;
  border-radius: 50%;
  opacity: .8;
  color: #CFC6D0;
}

.left_col_selector {  
  grid-area: workplace-selector;
  font-size: 1rem;
  color: #ffffff;
  background-color: #350D36;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);  
}

.left_col_selector > ul {
  font-size: 1rem;
  width: 100%;
  height: 100%;  
  display: flex;  
  align-items: center;  
  justify-content: flex-start;  
  flex-flow: column nowrap;
  padding: .5em .1em;
}

.left_col_selector_item {
  margin: .3em;
  border-radius: .4em;
  width: 2.6em;
  height: 2.6em;  
  display: flex;  
  flex-shrink: 0;  
  align-items: center;  
  justify-content: center;
  opacity: 1;
}

.left_col_selector_item_link {  
  background: #474F59;
  border-radius: .6em;
  color: #CFC6D0;  
  display: flex;  
  flex-shrink: 0;  
  align-items: center;  
  justify-content: center;
}


.left_col_selector_item:first-child {
  background-color: #3f1f4d;
}

.left_col_selector_item:first-child > a {
  width: 2.2em;
  height: 2.2em;
  background: none;
  border: 3px solid #000000;
}

.left_col_selector_item:last-child > a {
  opacity: .8;
  background: none;
}

.left_col_selector_item:last-child:hover a {
  background: rgb(67, 30, 68);
}

.sidebar {
  grid-area: sidebar;
  font-size: 1rem;
  background-color: #3F0E40;
  color: #ffffff;
  border-color: rgb(82, 38, 83);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .5);
}

.sidebar_col_header {  
  grid-area: sidebar__header;
  font-size: 1rem;
  display: flex;  
  justify-content: space-between; 
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding-right: 1em;
  color: #ffffff;
  background-color: #3F0E40;
  cursor: pointer;
  position: sticky;
  top: 0;
}


.sidebar_channel {
  height: 100%;
}

.sidebar_col_header_button {
  font-size: 1rem;
  flex: 1;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  align-items: center;
  padding: 0 1em;
  background-clip: padding-box;  
  flex-direction: row-reverse;
}

.sidebar_col_header_info {  
  flex: 1;
  min-width: 0;  
  order: 1;
}

.sidebar_header_info_about_team_text {
  min-width: 0;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info_about_user {
  font-size: .7em;
  color: #2BAC76;
}

.sidebar_col_header_info_about_user_text {
  font-size: .8em;
  line-height: 1.4;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: inherit;
  margin-right: auto;
  
  flex-shrink: 1;
  min-width: 0;
  opacity: .8;
}

.sidebar_col_header_new_message_but {
  border-radius: 50%;  
  align-items: center;  
  display: flex;
  width: 3em;
  height: 3em;  
  justify-content: center;
  opacity: 1;
  color: #3F0E40;
  background-color: #ffffff;
}

.workplace_for_sidebar_navigation {
  grid-area: workplace__navigation;
  font-size: 1rem;
  background-color: #3F0E40;
  color: #50235e;
  border-color: rgb(82, 38, 83);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .5);
}

.workplace_for_sidebar_navigation > ul {
  padding-top: 1em;
  padding-bottom: 1em;
}

.workplace_for_sidebar_list {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.workplace_for_sidebar_list_item {
  font-size: 1rem;
  padding: .1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  justify-content: space-between;  
  align-items: center;
}

.workplace_for_sidebar_list_item:hover {
  background-color: #603461;
}

.workplace_for_sidebar_list_item_link {
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 1em;
  color: rgb(188, 171, 188);
  width: 100%;
  border-radius: 0;
  background: none;
  border: 0;
  margin: 0;
  overflow: initial;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
}

.channel_link_icon_in_sidebar {
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  padding-right: .2em;
}

.channel_link_name_in_sidebar {
  margin-right: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  opacity: 1;
}

.add_new_string {
  font-size: 1.5em;
  color: rgb(188, 171, 188);
  padding-right: 1em;
}

.top_main_header {  
  grid-area: main_header;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .2em 1em;
  border-bottom: 1px solid rgba(29, 28, 29, .1);
  border-right: 1px solid rgba(29, 28, 29, .1);
}

.top_main_header_info {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 0;  
  display: flex;  
  flex-direction: column;  
  align-items: flex-start;
  max-width: 100%;
}

.info_about_channel_title {  
  display: flex;  
  flex-direction: row;
  align-items: baseline;  
  flex-wrap: nowrap;
  min-width: 1.3em;
  max-width: 100%;
}

.info_about_channel_title_name {
  font-weight: 600;
}

.channel_data_count_user {
  font-size: .9em;
  line-height: 1.4em;
  font-weight: 400;  
  align-self: stretch;
  color: rgba(29, 28, 29, .7);  
  flex-shrink: 9999;
}

.main_header_info-button_icon {
  font-size: 1em;
  font-weight: 600;
  padding: 0 .4em;
  border-radius: 50%;
  color: #1D1C1D;
  border: 2px solid #1D1C1D;
}

.main_header_info-button {
  text-align: center;
  width: 2.2em;
  height: 2.2em;
  border-radius: .3em;
}

.main_header_info-button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.main_content {  
  grid-area: main_content;
  font-size: 1rem;
  padding: 0 1em 0 .5em;
  background-color: #ffffff;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 1px solid rgba(29, 28, 29, .1);
}

.data-timestamp {
  position: -webkit-sticky;
  position: sticky;
  font-size: .8rem;
  font-weight: 700;
  text-align: center;
  min-width: 15em;
  top: .6em;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: .3em 1.5em;
  background: #ffffff;
  color: rgba(29, 28, 29, .8);
  border-radius: 1em;
  border: 1px solid rgba(29, 28, 29, .4);
  display: block;
}

.data-timestamp-hr {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}


.main_content hr {
  position: relative;
  top: 1em;
}

.message {
  font-size: 1rem;  
  display: flex;
  padding: 1em .5em;
}

.message:hover {
  background-color: rgba(247, 247, 247, .9);
}

.message_box {  
  flex-shrink: 0;
  margin-right: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image_container_for_message {
  height: 2.3em;
  line-height: 2.3em;
  width: 2.3em;
}

.message_avatar_image {
  border-radius: .2em;
  display: block;
  height: 100%; 
  width: 100%;
}

.data_in_message {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  min-width: 0;
  padding: .5em;
  padding-left: 1em;
  margin: -.8em -.5em -1em -1em;
}

.sender_of_message {
  color: rgb(80, 73, 80);
  font-weight: 700;
  word-break: break-word;
  cursor: pointer;
}

.timestamp_in_message {
  font-size: .8em;
  font-weight: 500;
  color: rgba(97, 96, 97, 1);
  cursor: pointer;
}

.content_in_message {
  font-size: .9em;
  color: rgba(115, 114, 115, 1);
  cursor: pointer;
}

.reply_in_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.reply_image_container {
  height: 1.4em;
  line-height: 1.4em;
  width: 1.4em;
  padding-right: .2em;
  cursor: pointer;
}

.replies-counter {
  font-size: .9em;
  color: dodgerblue;
  padding-right: .2em;
  cursor: pointer;
}

.text_in_replies {
  font-size: .9em;
  color: rgba(115, 114, 115, 1);
  cursor: pointer;
}

.main_content::-webkit-scrollbar,
.workplace__navigation::-webkit-scrollbar{
  width: 0;
}

.main_footer {
  grid-area: main_footer;
  font-size: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 0em;
  
  border-right: 1px solid rgba(29, 28, 29, .1);
}

.panel_for_input {
  width: 100%;
  display: flex;  
  justify-content: center;  
  align-items: center;
  border-radius: .4em;
  border: 1px solid rgba(29, 28, 29, .5);
}

.field_for_input {
  width: 100%;
}

.input_in_field > input::-webkit-input-placeholder {
  font-size: .9em;
  font-weight: 500;
  padding: .7em 1em;
  color: rgba(29, 28, 29, .5);
}

.input_in_field > input::-moz-placeholder {
  font-size: .9em;
  font-weight: 500;
  padding: .7em 1em;
  color: rgba(29, 28, 29, .5);
}

.input_in_field > input:-ms-input-placeholder {
  font-size: .9em;
  font-weight: 500;
  padding: .7em 1em;
  color: rgba(29, 28, 29, .5);
}

.input_in_field > input::-ms-input-placeholder {
  font-size: .9em;
  font-weight: 500;
  padding: .7em 1em;
  color: rgba(29, 28, 29, .5);
}

.input_in_field > input::-webkit-input-placeholder {
  font-size: .9em;
  font-weight: 500;
  padding: .7em 1em;
  color: rgba(29, 28, 29, .5);
}

.input_in_field > input::-moz-placeholder {
  font-size: .9em;
  font-weight: 500;
  padding: .7em 1em;
  color: rgba(29, 28, 29, .5);
}

.input_in_field > input:-ms-input-placeholder {
  font-size: .9em;
  font-weight: 500;
  padding: .7em 1em;
  color: rgba(29, 28, 29, .5);
}

.input_in_field > input::placeholder {
  font-size: .9em;
  font-weight: 500;
  padding: .7em 1em;
  color: rgba(29, 28, 29, .5);
}

.input_in_field > input {
  width: 100%;
  padding: .7em;
  border-top-right-radius: .4em;
  border-top-left-radius: .4em;
  border: none;
  outline: none;
}

.bottom_row_in_input_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  justify-content: space-between;  
  align-items: center;
  padding: .3em;
  border-bottom-right-radius: .4em;
  border-bottom-left-radius: .4em;
  background-color: rgb(248, 248, 248);
  border-top: 1px solid rgba(29, 28, 29, .1);;
}

.bottom_row_in_input_field > ul { 
  display: flex;
}

.item_in_bottom_row {
  color: rgba(29, 28, 29, .5);
  padding: .2em .4em;
  cursor: pointer;
}

.item_in_bottom_row:hover {
  background: rgba(225, 225, 225, 1);
}
@media only screen and (max-width: 100em) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-rows: .24fr .38fr 2.72fr .66fr;
    overflow: hidden;
    grid-template-areas: 'top-nav top-nav top-nav top-nav' 'workplace-selector sidebar__header main_header channel-detail__header' 'workplace-selector workplace__navigation main_content channel-detail_content' 'workplace-selector workplace__navigation main_footer channel-detail_content'
  }
}
@media only screen and (max-width: 80em) {
  .container {    
    grid-template-areas: 'top-nav top-nav top-nav' 'left_col_selector sidebar__header main_header' 'workplace-selector workplace__navigation main_content' 'workplace-selector workplace__navigation main_footer'
  }
}
@media only screen and (max-width: 20em) {
  .container {
    grid-template-areas: 'top-nav top-nav' 'sidebar__header main_header' 'workplace_for_sidebar_navigation main_content' 'workplace__navigation main_footer'
  }
}

@media only screen and (max-width: 43em) {
  .container {    
    grid-template-areas: 'top-nav' 'main_content'
  }
}

@media only screen and (max-width: 29em) {
  .container {    
    grid-template-areas: 'top-nav' 'main_content'
  }
}
