#myText{
    color: red;
}
body{
    margin: 1px;
    height: 100%;
}
header{
    line-height: 2;
    background-color:lavender;
}
.MainContainer{
    margin: 0px;
    align-items: stretch;
    height: 100%;
}
.main{
    display: flex;
}
#topColumn
{    
    height: 30px;
}
#boxForTopText{    
    vertical-align: middle;
}
.Head_container{
    display: flex;
}
.topContainerString{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: calc(100% + 20px);
}
.topContainerString_left{
    flex-grow: 2;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    text-align: right;
}
.boxTopForWords{   
    flex-grow: 1;
    align-items: center;
    text-decoration: none;    
    text-align: center;    
}
.boxForBrackets{
    vertical-align: middle;
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
}
.fa-angle-left{
    vertical-align: middle;
}
#leftTopCol{
    text-align: right; 

}
.cogItem{
    color: grey;    
}
.arrowsTopLeft{

    vertical-align: middle;
    color: grey;

}
.arrowsTopRight{
    
    vertical-align: middle;
    color: grey;
}
.topMenuItems{
    text-decoration: none;
    color: rgb(75, 69, 69);
}
#colForThreeIcons{
    width: auto;
    text-align: center;
}
.header{
    vertical-align: middle;
}
.iconsCommChat{
    margin: 4px;
    color: gray;
}
aside{
    display: flex;
    max-width: 300px;    
    flex-shrink: 0;
    flex-direction: column;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: grey;
    font-size: 16px;
}
.rowBoxForThreeIcons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.boxForIconAside{
    flex-grow: 1;
    color: gray;
    text-align: center;
    align-items: center;
}
.boxForSearch{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.commentIcon, .userIcon, .ellipseIcon{

    color: darkgrey;
}
.SearchLine{
    line-height: 2;
    box-sizing: content-box;
    display: flex;        
    border-top-color: grey;
    border-top-style: solid;
    border-top-width: 1px;
    border-radius: 10px;
    border-right-color: rgb(160, 160, 162);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(160, 160, 162);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(160, 160, 162);
    border-left-style: solid;
    border-left-width: 1px;
    margin-right: 10px;    
}
.boxForIconSearch{
    text-align: center;
    width: 35px;
}
#SearchBox{
    border: none;
    width: auto;
}
.boxForSearchWord{
    max-width: auto;
}
.HorLine{
    color: rgb(226, 218, 218);
    width: auto;
    margin: 0px 0;
	padding: 0;  
}
.vl {
    border-left: 1px solid rgb(168, 161, 161);
    height: auto;
    color: darkgrey;
}
.rowAsideUser{
    text-align: left;
    vertical-align: middle;
    display: flex;    
}
.elemUserInList{
    vertical-align: middle;
    flex-grow: 1;
    flex-wrap: wrap;
}
.elemUserInListFirst{
    vertical-align: middle;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: rgb(241, 241, 247);
}
.rowInCommomChat{
    display: flex;
    line-height: 1.3;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
     
}
.itemsTopOfCommonChat{ 
    display: flex;   
    flex-grow: 1;
    flex-wrap: wrap;
    margin-left: 16px;
    vertical-align: middle;
   
}
.textAboutGroups{      
    flex-grow: 1;
    font-size: 13px;
    margin-left: 5px;
}
.LinkAbout{
    text-decoration: none;
}
.LinkAbout:hover{
    text-decoration: underline;
}
.textAboutNameGroup{
    margin-left: 5px;
    font-size: 19px;
}
.itemsTopOfCommonChat_right{
    text-align: right;
}
.middleGroup_left{
    text-align: right;
}
.BoxForCommonContent{
    display: flex;
    flex-grow: 1;
    flex-direction: column;    
}
.commonChatBox{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 5px;
}
.stringInCommoBox_left{
    display: flex;
    flex-grow: 1;
    margin: 10px;
    justify-content: flex-start;
    align-self: center;
}
.stringInCommoBox_right{
    display: flex;
    flex-grow: 1;
    margin: 10px;
    justify-content: flex-end;
}
.lineInList{
    color: darkgrey;
}
#rightColumn{
    text-align: right;
}
#FirstGroup{
    background-color: rgb(237, 239, 241);
}
.container-fluid{
    width: auto;  
    margin: 9px;
}
.groupIconsMiddle
{
    display: flex;
}
.itemRight{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    vertical-align: middle;
}
.fa-users{
    color: gray;
   justify-content: center;
    align-items: center;

}
.fa-user{
    color: rgb(151, 151, 151);
    margin: 5px;
}
.fa-female{
    color: gray;
    margin: 5px;
}

.fa-user-circle-o{
    color: gray;
}

.middleIcon{
    color: darkgrey;
    margin: 10px;
}
.bottomCommoChat{
    display: flex;
    
}
.strBottomChat_Left{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}
.strBottomChat_Right{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.BoxForWriteMessage{
    display: flex;
    justify-content: center;
    border: none;
    max-width: auto;;
}
#MessageBox{
    border: none;
}
.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    width:  auto;
    line-height: 30px;
    display: flex;
    align-items: center;

}
.bubbleForAnotherUser{
    background-color: #b7defd;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #B2B2B2;
    height: 35px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    width:  auto;
    display: flex;
    align-items: center;
 
}
.timeInBubble{
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    text-align: right;
    font-size: 8px;
    color: rgb(158, 158, 160);
    
}
.textInBubble{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    flex-grow: 1;
}
.columnForCommonChat{
    display: flex;
    flex-direction: column; 
}
.colInCommChat{
    vertical-align: middle;
    align-items: center;
}
.rowOfAside{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.FirstCol{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.SecondCol{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}
.ThirdCol{
    flex-grow: 1;
    justify-content: center;
}
.textOfBoxColTop{
    align-items: bottom;
}
.textOfBoxColBott{
    font-size: 11px;
    color: rgb(146, 144, 144);
}
.textOfBoxColright{
    font-size: 11px;
    color: rgb(146, 144, 144);
}
}
